@import '../../assets/styles/mixin';

.trackerItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px 20px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #5e9927;
  background-color: rgb(251, 251, 247);
  border-top: 1px solid lightgrey;

  @include screen-xs {
    padding: 20px 10px;
  }

  &:last-child {
    border-bottom: 1px solid lightgrey;
  }

  &__name {
    width: calc(100% - 200px);
    overflow-wrap: break-word;

    @include screen-xs {
      width: calc(100% - 170px);
    }
  }

  &__rightSide {
    display: flex;
    align-items: center;
  }

  &__timeInfo {
    margin: 0 28px 0 20px;

    @include screen-xs {
      margin: 0 10px 0 10px;
    }
  }

  &__button {
    font-size: 28px !important;
    color: black;
    cursor: pointer;

    &Container {
      display: flex;
      justify-content: space-between;
      width: 70px;

      @include screen-xs {
        width: 65px;
      }
    }
  }

  &__removeButton {
    color: rgb(179, 21, 21);
  }

  &_paused {
    color: black;
    background-color: transparent;
  }
}
